<div class="madLib">
  <p>There once was a/an named {{ student.studentname }}.
{{ student.studentname }} was super-duper AWESOME and loveeeed to read books of any level, shape or size. {{ student.studentname }} read for {{ student.time }} this week, my how time flies! {{ student.studentname }} reads in so many amazing places like at/in {{ student.places }} where he/she flipped through {{ student.pagesread }} pages. Before {{ student.studentname }} knew it, he/she had read {{ student.numberofbooks }} and was inching closer and closer toward another super cool reward.</p>
</div>
