<div class="container">
    <div ng-controller="libInput">
    </div>
    <div ng-controller="libOutput">
    </div>


    <div class="drop1">
        <select required ng-model="student.character">
      <option value="" disabled selected>Choose your character</option>
      <option>Rockstar</option>
      <option>Explorer</option>
      <option>Adventurer</option>
      <option>Champion</option>
    </select>
    </div>
    <br>
    <div class="bookdiv">
        <input type="text" placeholder="Enter Title of Book" ng-model="student.book" class="input">
    </div>
    <br>
    <div class="drop2">
        <select required ng-model="student.place">
      <option value="" disabled selected>Pick a place</option>
      <option>The Park</option>
      <option>The beach</option>
        <option>At School</option>
          <option>At Home</option>
            <option>In Outerspace</option>
              <option>Other</option>
    </select>
    </div>
    <br>
    <div class="drop3">
        <select required ng-model="student.pagesread">
      <option value="" disabled selected>How many pages have you read?</option>
      <option>less than 50</option>
      <option>Somewhere between 50 - 100</option>
      <option>More than 100</option>
    </select>
    </div>
    <br>


    <div class="drop4">
        <select required ng-model="student.time">
    <option value="" disabled selected>How long did you read?</option>
    <option>30 minutes</option>
    <option>One Hour</option>
      <option>More than an hour</option>
        </select>
    </div>
    <br>




    <div id="buttonDiv">
        <button type="submit" ng-click="importIn(student)">Let's Submit!</button>
    </div>
