<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Adventures in Reading</h1>
                <h4><em>Keep track of the books you read, earn badges!</em></h4>
            </div>
        </div>
        <div class="row head-spacer">

        </div>
    </div>
</section>
<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <figure class="text-center">
                    <img src="img/book.png" />
                </figure>
                <br />
                <ul>
                    <li>
                        Keep track of each book you read
                    </li>
                    <li>
                        Enter the title, length, and where you read it
                    </li>
                    <li>
                        Read a fun story based on the book you just read
                    </li>
                </ul>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <figure class="text-center">
                    <img src="img/trophy.png" />
                </figure>
                <br />
                <ul>
                    <li>
                        Earn rewards for reading books
                    </li>
                    <li>
                        Each trophy you unlock is another step on your reading adventure
                    </li>
                    <li>
                        Read more books for more trophies
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</section>
