<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Adventures in Reading</h1>
                <h4><em>Keep track of the books you read, earn badges!</em></h4>
            </div>
        </div>
        <div class="row head-spacer">

        </div>
    </div>
</section>
<section id="hello">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <figure class="text-center">
                    <img src="img/book.png" />
                </figure>
                <br />
                <ul>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>

                </ul>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <figure class="text-center">
                    <img src="img/trophy.png" />
                </figure>
                <br />
                <ul>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>
                    <li>
                        This is some text about stuff. Happy happy joy joy.
                    </li>

                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</section>
