<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
			
				<div class="col-md-4">
				<img src='../content/ben-white-148435.jpg' width="300px" height="300px">
					<blockquote>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						</p> <small>Someone famous <cite>Source Title</cite></small>
					</blockquote>
					
				</div>
				<div class="col-md-4">
				<img src='../content/natalie-fox-120570.jpg' width="300px" height="300px">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. 
					</p>
					
				</div>
				<div class="col-md-4">
					<img src='../content/Screen%20Shot%202017-03-13%20at%203.49.28%20PM.png' width="300px" height="300px">
						<p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </p>
				</div>
			</div>
		</div>
	</div>
</div>