<div class="container">


    <div class="row">
        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>


    </div>

    <div class="secondRow">
        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

    </div>

    <div class="thirdRow">
        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

    </div>

    <div class="fourthRow">
        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

        <div class="col-md-3">
            <div class="box">

            </div>
        </div>

    </div>










</div>
